.container {
  background: url(./background.png);
  background-repeat: repeat;
  height: 100vh;
  padding: 50px;
}

.loader__file-label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height: 300px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 20px;
}

.loader__file-input {
  display: none;
}

.loader__previews {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  gap: 100px;
}

.loader__preview {
  position: relative;
  width: 150px;
  height: 150px;
  border: 1px solid #000;
  background: #fff;
}

.loader__img {
  width: 100%;
  height: 100%;
}

.loader__remove-button {
  cursor: pointer;
  position: absolute;
  top: -15px;
  height: 30px;
  right: -15px;
  width: 30px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
}

.loader__remove-button:before {
  content: 'X';
}
